<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>igeta</title>
  <script src="./javascript/jquery-2.1.4.min.js"></script>
  <script src="./javascript/auth.js"></script>
</head>
<body>
  <header>
    <h1>#igeta</h1>
    Study Community with Twitter
    <%= link_to 'login', '/auth/twitter' %>
  </header>

</body>
</html>